<h2 class="content-block">Operación [MOPE]</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <dx-data-grid
      [dataSource]="mope"
      keyExpr="codigo"
      [columnAutoWidth]="true"
      [showColumnLines]="true"
      [showRowLines]="true"
      [showBorders]="true"
      [rowAlternationEnabled]="true"
    >
      <dxi-column dataField="codigo">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="descripcion">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="estado">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-column>
      <dxo-editing
        mode="form"
        [allowUpdating]="true"
        [allowDeleting]="true"
        [allowAdding]="true"
      >
      </dxo-editing>
    </dx-data-grid>
  </div>
</div>
